{% extends 'base.html' %}
{% load static %}
{% block title %}Головна{% endblock %}

{% block content %}

<h1>Ласкаво просимо до нашого сайту!</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus 
    et malesuada fames ac turpis egestas. Sed non diam ac elit blandit fermentum. Etiam nec nulla nec sapien luctus 
    lacinia. Nulla facilisi. Duis sed justo non libero mollis lacinia.
</p>

{% for i in "1234567890"|make_list %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus 
        et netus et malesuada fames ac turpis egestas. Cras vel tincidunt erat, non aliquam lorem. Sed luctus 
        consectetur nisi, vitae malesuada nulla semper ac. Integer bibendum, lacus ut scelerisque interdum, 
        ligula lorem dictum tortor, ut ullamcorper elit purus id risus.
    </p>
{% endfor %}

{% endblock %}
