{% extends 'base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<!-- НАШІ ПЕРЕВАГИ -->
<section class="advantages-section">
    <h2 class="text-center mb-5 fw-semibold">Наші переваги</h2>
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="advantage-item">
                <h5>1. Підтримка форматів</h5>
                <p>Конвертуйте PDF, DOCX, ДжПГ, PNG та інші файли.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="advantage-item">
                <h5>2. Висока швидкість</h5>
                <p>Файли обробляються за секунди.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="advantage-item">
                <h5>3. Простота використання</h5>
                <p>Інтерфейс зрозумілий навіть новачкам.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="advantage-item">
                <h5>4. Безпека</h5>
                <p>Ваші файли не зберігаються на сервері.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="advantage-item">
                <h5>5. Безкоштовний доступ</h5>
                <p>Усі базові функції — безкоштовно.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="advantage-item">
                <h5>6. Техпідтримка</h5>
                <p>Швидка допомога через пошту або чат.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
